node_modules/
dist/
build/
.next/
.expo/
.expo-shared/
web-build/

.env
.env.local
.env.*.local

*.log
.DS_Store
Thumbs.db

.vscode/
.idea/

coverage/
.nyc_output/

*.tsbuildinfo

# Prisma
prisma/migrations/dev.db*

# Expo / EAS
ios/
android/
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
google-services.json
GoogleService-Info.plist
